src/main/webapp/WEB-INF/wsdl/SendMailService.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<xs:schema xmlns:tns="http://sendmailservice.itpro.com/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
	targetNamespace="http://sendmailservice.itpro.com/">

	<xs:element name="sendMail" type="tns:sendMail"></xs:element>

	<xs:element name="sendMailResponse" type="tns:sendMailResponse"></xs:element>

	<xs:element name="sendMailWithCC" type="tns:sendMailWithCC"></xs:element>

	<xs:element name="sendMailWithCCResponse" type="tns:sendMailWithCCResponse"></xs:element>

	<xs:complexType name="sendMail">
		<xs:sequence>
			<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
			<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
			<xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
			<xs:element name="arg3" type="xs:string" minOccurs="0"></xs:element>
			<xs:element name="arg4" type="xs:string" minOccurs="0"></xs:element>
			<xs:element name="arg5" type="xs:string" minOccurs="0"></xs:element>
			<xs:element name="arg6" type="xs:string" minOccurs="0"></xs:element>
			<xs:element name="arg7" type="xs:string" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="sendMailResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="sendMailWithCC">
		<xs:sequence>
			<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
			<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
			<xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
			<xs:element name="arg3" type="xs:string" minOccurs="0"></xs:element>
			<xs:element name="arg4" type="xs:string" minOccurs="0"></xs:element>
			<xs:element name="arg5" type="xs:string" minOccurs="0"></xs:element>
			<xs:element name="arg6" type="xs:string" minOccurs="0"></xs:element>
			<xs:element name="arg7" type="xs:string" minOccurs="0"></xs:element>
			<xs:element name="arg8" type="xs:string" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="sendMailWithCCResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>